### A CI workflow template that runs linting and python testing
### TODO: Modify as needed or as desired.

name: Test tap-exact

on:
  pull_request:
    branches: [main]
    paths:
    - .github/workflows/test.yml
    - tap_exact/**
    - tests/**
    - pyproject.toml
    - uv.lock
  workflow_dispatch:

permissions:
    contents: read

env:
  FORCE_COLOR: 1

jobs:
  linting:
    name: Linting
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Set up Python
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      with:
        python-version: "3.12"
    - name: Setup uv
      uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5
      with:
        version: ">=0.7"
    - name: Run Linting
      run: |
        uvx ruff check tap_exact
        uvx ruff format --check tap_exact